<!DOCTYPE html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>Página inicial</h1>
        </nav>
    </header>
    <main>
        <section>
            <p>Esta é a página inicial, para acessar a segunda página, clique no link abaixo:</p>
            <a href="{{ url_for('proxima') }}">Próxima página</a><br><br>
            <p>Caso queira acessar outra rota, clique no link abaixo:</p>
            <a href="{{ url_for('outra_rota') }}">Outra rota</a>
        </section>
    </main>
    <footer>
        <p>&copy;Todos os direitos reservados - 2025
    </footer>
</body>
</html>